{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
    {% if form %}
        <a href="/internships">Internship database</a>
        <a href="#" >Add a new company</a>
    {% else %}
        Internship database
    {% endif %}
{% endblock %}

{% block body %}
    {% if form %}
        {{ form_macro(form, action) }}

    {% else %}
        {# We are displaying the internship overview page #}
        <p class="block">
            This page lists recommended companies for doing your internship.
        </p>

        <div class="internship rows3">
            <div class="people-cards">
                {% for company in companies %}
                <a href="{{ url_for('show_company', company_id=company.id)}}">
                    <section class="card">
                        <div class="company-header">
                            <h1>{{ company.name }}</h1>
                            {% if company.logo_file %}
                                <img class="small-logo" src="{{ company.logo_file }}">
                            {% endif %}
                        </div>
                        <div>
                            <p>{{ company.description }}</p>
                        </div>
                        <div class="company-info-bar">
                            {% for team in company.teams %}
                                <div class="detail-bar">
                                    {% if team.availability == 0 %}
                                        <div class="tag icon"></div>
                                    {% elif team.availability == 1 %}
                                        <div class="tag is-warning icon"></div>
                                    {% else %}
                                        <div class="tag unavailable icon"></div>
                                    {% endif %}
                                    <p>{{ team.technologies }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </a>
                {% endfor %}
            </div>

            {% if current_user.is_teacher %}
                <div class="add-button">
                    <a href="{{ url_for('add_company')}}">
                        <button>
                            Add new company
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
