<!doctype html>
<html lang="en"{% if has_request_context() and request.cookies.get('theme') %} data-theme="{{request.cookies.get('theme')}}"{% endif %}>
<head>
	<meta charset="UTF-8">
	<title>Lms42</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
	{% if base_url %}
	<base href="{{base_url}}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	{% block head %}{% endblock %}
	<script src="/static/layout.js"></script>
</head>
<body>

	{% if header != False %}
	<header class="invert">
		<nav class="container bottom-tooltip">
			<div class="left">
				{% if not archive_mode %}
				<a href="/">
					<svg width="1.2em" height="1.5em" aria-hidden="true" role="img" version="1.1" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg"><path d="m768 0h-736c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32v-736c0-17.7-14.3-32-32-32zm-366.9 406.1-192 161c-5.2 4.4-13.1 0.7-13.1-6.1v-62.7c0-2.3 1.1-4.6 2.9-6.1l109.8-92.2-109.8-92.2a7.63 7.63 0 0 1-2.9-6.1v-62.7c0-6.8 7.9-10.5 13.1-6.1l192 160.9c3.9 3.2 3.9 9.1 0 12.3zm202.9 154.9c0 4.4-3.4 8-7.5 8h-185c-4.1 0-7.5-3.6-7.5-8v-48c0-4.4 3.4-8 7.5-8h185c4.1 0 7.5 3.6 7.5 8z" fill="currentColor"/></svg>
					<strong>LMS</strong>42
				</a>
				{% endif %}
				<div class="page-title">
					{% block title %}{% endblock %}
				</div>
			</div>
			{% if not archive_mode %}
			<div aria-label="main navigation">
				<a href="/curriculum" data-tooltip="Learning">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.5em" height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path fill="currentColor" d="M15.09 12.79a1 1 0 0 0-.086-1.638L15 5.33L14 6v5.15a1.001 1.001 0 0 0-.092 1.629l-.378.502a2.48 2.48 0 0 0-.53 1.498v1.222H13.815a.88.88 0 0 0 .853-.664l.331-1.336v2h1v-1.21a2.486 2.486 0 0 0-.534-1.505z"/><path fill="currentColor" d="M8 0L0 4l8 5l8-5l-8-4z"/><path fill="currentColor" d="M8 10L3 6.67v1.71C3 9.29 5.94 12 8 12s5-2.71 5-3.62V6.67z"/></svg>
				</a>

				{% if current_user.is_authenticated %}
				<a href="/people" data-tooltip="People">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.5em" height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M7 14s-1 0-1-1s1-4 5-4s5 3 5 4s-1 1-1 1H7zm4-6a3 3 0 1 0 0-6a3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/><path d="M4.5 8a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5z"/></g></svg>
				</a>
				{% endif %}

				{% if current_user.is_authenticated and current_user.current_attempt %}
				<a href="/curriculum/{{current_user.current_attempt.node_id}}" data-tooltip="Current lesson">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.5em" height="1.5em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1zm1 14H8c-.55 0-1-.45-1-1s.45-1 1-1h5c.55 0 1 .45 1 1s-.45 1-1 1zm3-4H8c-.55 0-1-.45-1-1s.45-1 1-1h8c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H8c-.55 0-1-.45-1-1s.45-1 1-1h8c.55 0 1 .45 1 1s-.45 1-1 1z" fill="currentColor"/></svg>
				</a>
				{% endif %}

				{% if current_user.is_authenticated and current_user.is_teacher %}
				<a href="/inbox" data-tooltip="Inbox">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.5em" height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5a1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm-1.17-.437A1.5 1.5 0 0 1 4.98 3h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"/></g></svg>
				</a>
				{% endif %}

				{% if not current_user.is_authenticated %}
				<a href="/user/login" data-tooltip="Sign in">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.5em" height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 717 672"><path d="M391 672h195c37 0 68-13 92-38c24-24 39-56 39-92V151c0-36-15-68-39-92s-56-38-92-38H391v82h195c28 0 49 21 49 48v391c0 27-21 49-49 49H391v81zM0 269v156c0 18 15 33 33 33h182v123c0 11 5 20 15 25c4 1 9 1 11 1c7 0 13-2 18-7l235-235c9-9 8-27 0-37L259 94c-8-8-18-9-29-6c-10 5-15 13-15 24v124H33c-18 0-33 15-33 33z" fill="currentColor"/></svg>
				</a>
				{% endif %}

				<div style="position: relative;">
					<a data-tooltip="More..." onclick="toggleMenu(event)">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.5em" height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><g fill="none"><path d="M13 7a3 3 0 1 0 6 0a3 3 0 0 0-6 0zm0 9a3 3 0 1 0 6 0a3 3 0 0 0-6 0zm0 9a3 3 0 1 0 6 0a3 3 0 0 0-6 0z" fill="currentColor"/></g></svg>
					</a>
					<div class="dropdown-menu invert card">
						{% if current_user.is_authenticated %}
						<a href="/people/leaderboard">
							Leaderboard
						</a>
						{% endif %}
				
						<a href="/coc">
							Code of Conduct
						</a>
				
						<a href="/overview">
							Curriculum
						</a>
				
						{% if current_user.is_teacher %}
						<a href="/dashboard">
							Dashboard
						</a>

						<a href="/exam_dossier">
							Exam dossier
						</a>

						<a href="/trial">
							Trials
						</a>
						{% endif %}

						<a onclick="toggleDarkMode()">
							Toggle theme
						</a>
				
						<a href="mailto:f.c.vanviegen@saxion.nl">
							Report an issue
						</a>
				
						<form style="margin: 0;" method="post" action="/user/logout">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
							<label>
								<input type="submit" style="display: none;">
								<a>Log out</a>
							</label>
						</form>
					</div>
				</div>

				{% if current_user.is_authenticated %}
				<a data-tooltip="User profile" href="{{ url_for('user_profile', short_name=current_user.short_name)}}">
					<img class="avatar" alt="Avatar" src={{current_user.avatar}}>
				</a>
				{% endif %}

			</div>
			{% endif %}
		</nav>
	</header>
	{% endif %}
	

	{% if self.bare_body() %}
		{% block bare_body %}{% endblock %}
	{% else %}
	<main class="{% block main_class %}container rows3{% endblock %}">
		{% if not archive_mode %}
		{% for message in get_flashed_messages() %}
		<article class="notification is-important">
			{{ message }}
		</article>
		{% endfor %}
		{% endif %}

		{% block body %}{% endblock %}
	</main>
	{% endif %}	
</body>
</html>
