{% extends "layout.html" %}

{% block title %}
Classroom dashboard
{% endblock %}

{% block bare_body %}

<div style="display: flex; flex-direction: column; padding: 20px;">
    <script src="/static/tv.js"></script>

    {% if device == "iglo" %}
    <h1>Study Associations Tuks</h1>
    <iframe id="tuks-iframe" frameborder="0" style="border-width: 0; height: 320px;" scrolling="no" src="https://tuks.dev/iglo" allowtransparency="true"></iframe>
    <script>
        setInterval(function() {
            let iframeE = document.getElementById('tuks-iframe');
            iframeE.src = iframeE.src;
        }, 2*60*1000);
    </script>
    {% endif %}
</div>


{% endblock %}